@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GT America Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/GT-America-Mono-Regular.woff2) format("woff2");
  }
}
#html {
  padding: 0px !important;
}

/* auth for hanko auth component */
@layer components {
  .hankoComponent {
    --color: #a9adae;
    --error-color: #fb7185;
    --background-color: #060f11;
  }
  .hankoComponent::part(container) {
    @apply text-zinc-400 bg-zinc-700 rounded-lg drop-shadow-sm border border-zinc-200;
  }
  .hankoComponent::part(divider-text) {
    @apply bg-zinc-700;
  }
  .hankoComponent::part(button) {
    @apply w-[350px] h-[42px] transition duration-100 px-4 py-2 rounded flex-col justify-center items-center gap-2.5 inline-flex text-center text-xs font-normal font-gt uppercase leading-none tracking-tight;
  }
  .hankoComponent::part(primary-button) {
    @apply bg-teal-950 border-emerald-950 hover:bg-emerald-800 text-emerald-500;
  }
  .hankoComponent::part(secondary-button) {
    @apply bg-gray-700 text-zinc-400 hover:bg-black;
  }
  .hankoComponent::part(input) {
    @apply text-sm font-normal font-gt border-gray-800 rounded-sm bg-gray-950 text-emerald-500;
  }
  .hankoComponent::part(headline1) {
    @apply text-emerald-500;
  }
  .hankoComponent::part(error-text) {
    @apply text-rose-400;
  }
  .hankoComponent::part(error) {
    @apply text-rose-400 border-rose-400;
  }
  .hankoComponent::part(link) {
    @apply text-emerald-500;
  }
}
